{% extends 'all-posts/base.html' %}
{% load staticfiles%}

<!-- Styles block -->
{% block styles %}

    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/my-profile.css'%}">

{% endblock %}

<!-- Content block -->
{% block content %}

    {{block.super}}

    <div class="container">
        
        <div class="row profileHeaderRow">

            <!-- Empty Div -->
            <div class="col-md-1 col-lg-1">
                
            </div>

            <!-- Profile Pic  -->
            
            <div class="col-md-3 col-lg-3">
                
                <img src="{{current_user.profile.profile_pic.url}}" alt="{{current_user.username}}" class="img-responsive">

            </div>

            <!-- Current user's name -->

            <div class="col-md-7 col-lg-7">

                <h1 class="username">
                    {{current_user.username}}
                </h1>

            </div>

            <!-- Empty Div -->
            <div class="col-md-1 col-lg-1">
                
            </div>

        </div>

        <hr>

        <h1>List of posts</h1>

        <!-- Current User's Posts  -->
        
        <div class="col-md-4 col-lg-4">
            
            <img src="{{current_user.profile.profile_pic.url}}" alt="{{current_user.username}}" class="img-responsive">

        </div>
        
    </div>

{% endblock %}