{% extends 'all-posts/base.html' %}
{% load staticfiles%}
{% load bootstrap3%}

<!-- Styles block -->
{% block styles %}

    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/timeline.css'%}">

{% endblock %}

<!-- Content block -->
{% block content %}

    {{block.super}}

    <div class="container">

        {%if following_posts%}

        <div class="row profileRow">
            
            {%for follow in following_posts%}

                <!-- Profile Div -->

                <div class="col-md-10 col-lg-10">

                    <div class="panel panel-default">

                        <div class="panel-heading">

                            <img src="{{follow.profile.profile_pic.url}}" alt="{{follow.profile.user.username}}" class="img-responsive profilePicture">

                            <h6 class="username">
                                {{follow.profile.user.username}}
                            </h6>

                            <h6 class="timeSince">
                                {{follow.post_date | timesince}} ago
                            </h6>

                        </div>

                        <div class="panel-body">

                            <a href="{%url 'post' follow.id%}">
            
                                <img src="{{follow.image.url}}" alt="{{follow.caption}}" class="img-responsive postImage">

                                <h5 class="text-center">
                                    {{follow.caption}}
                                </h5>

                            </a>

                        </div>

                    </div>

                </div>

            {% endfor %}

        </div>


        {%else%}

            <h2 class="text-center">
                You are Not Following Anyone
            </h2>

        {%endif%}

        
    </div>

{% endblock %}