/*Style the navbar*/
div.container {
    margin-top: 0.75em;
}

.navbar{
    background-color: #fff;
    border-color: #fff;
}

.siteIcon{
    margin-top: -5%;
    font-size: 3.5em;
    margin-right: 0.5em;
}

.siteName{
    font-size: 2.5em;
    color: #000;
    border-left: 0.05em solid #000;
}

a.navbar-brand.siteIcon, a.navbar-brand.siteName{
    color: #000;
}

a.navbar-brand.siteIcon:hover, a.navbar-brand.siteName:hover, a.userIcon:hover{
    color: #000;
    text-decoration: none;
}

.userIcon{
    font-size: 3em;
    color: #000;
}