/*Style Timeline Template*/
div.row.profileRow {
    margin-left: 12em;
    margin-right: 5em;
    display: block;
}

img.img-responsive.profilePicture{
    border-radius: 100%;
    height: 6vh;
    float: left;
}

h6.username, h6.timeSince {
    margin-left: 5em;
}

h6.timeSince {
    display: inline;
    float: right;
    margin-top: -3.25%;
}

/*div.panel-body > a {
    color: #000;
}*/

h5.text-center {
    font-size: 2em;
}

div.panel-body > a:hover {
    text-decoration: none;
}

img.img-responsive.postImage{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*
img.img-responsive.commentProfilePicture{
    border-radius: 100%;
    height: 4vh;
    float: left;
}

span.commenterName {
    margin-left: 0.5em;
}

span.commentContent {
    margin-left: 1.75em;
}

h3.commentLink > a:hover {
    text-decoration: none;
}*/
