{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8" content="width=device-width, initial-scale=1">

    {%if title%}
        <title>{{title}}</title>
    {% else %}
        <title>The Gram</title>
    {% endif %}

    <!-- Styles block -->
    {% block styles %}
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/registration-base.css'%}">

    {% endblock %}

</head>
<body>

    <div class="container">

        <div class="row">
            <div class="col-md-6 col-lg-6">

                <img src="{%static 'images/logo.png'%}" alt="Instagram Logo" class="img-responsive">
                
            </div>

            <div class="col-md-6 col-lg-6">

            <!-- Content block -->
            {% block content %}    

            {% endblock %}

            </div>

        </div>

    </div>


    <!-- Scripts block -->
    {% block scripts %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% bootstrap_javascript %}

    {% endblock %}
    
</body>
</html>

